<html>
	<head>
	</head>

	<body>
		<ul>EPUB
			<li><a href="https://epub-samples.googlecode.com/files/accessible_epub_3-20121024.epub">https://epub-samples.googlecode.com/files/accessible_epub_3-20121024.epub</a></li>
			<li><a href="https://epub-samples.googlecode.com/files/widget-figure-gallery-20121022.epub">https://epub-samples.googlecode.com/files/widget-figure-gallery-20121022.epub</a></li>
			<li><a href="https://epub-samples.googlecode.com/files/childrens-media-query-20120412.epub">https://epub-samples.googlecode.com/files/childrens-media-query-20120412.epub</a></li>
			<li><a href="https://epub-samples.googlecode.com/files/page-blanche-20130322.epub">https://epub-samples.googlecode.com/files/page-blanche-20130322.epub</a></li>
			<li><a href="https://epub-samples.googlecode.com/files/childrens-literature-20130206.epub">https://epub-samples.googlecode.com/files/childrens-literature-20130206.epub</a></li>
		</ul>
		<ul>PDF
			<li><a href="https://www.uni-leipzig.de/~organik/giannis/Philosophie/OMHROU_ODYSSEIA_OLD_NEW_OLO_20_01_2008.pdf">https://www.uni-leipzig.de/~organik/giannis/Philosophie/OMHROU_ODYSSEIA_OLD_NEW_OLO_20_01_2008.pdf</a></li>
			<li><a href="https://www.uni-leipzig.de/~organik/giannis/Philosophie/OMHROU_ILIAS_OLD_NEW_OLO.pdf">https://www.uni-leipzig.de/~organik/giannis/Philosophie/OMHROU_ILIAS_OLD_NEW_OLO.pdf</a></li>
			<li><a href="https://dspace.lib.uom.gr/bitstream/2159/14119/4/Metsios_Pe2010.pdf">https://dspace.lib.uom.gr/bitstream/2159/14119/4/Metsios_Pe2010.pdf</a></li>
			<li><a href="https://dspace.lib.uom.gr/bitstream/2159/13816/1/Boulogeorgou_Msc2010.pdf">https://dspace.lib.uom.gr/bitstream/2159/13816/1/Boulogeorgou_Msc2010.pdf</a></li>
			<li><a href="https://www.ets.org/Media/Tests/TOEFL/pdf/SampleQuestions.pdf">https://www.ets.org/Media/Tests/TOEFL/pdf/SampleQuestions.pdf</a></li>
			<li><a href="http://www.cambridgeenglish.org/images/153309-starters-sample-papers-volume-2.pdf">http://www.cambridgeenglish.org/images/153309-starters-sample-papers-volume-2.pdf</a></li>

		</ul>
		<ul>ODT
			<li><a href="http://www.openoffice.org/documentation/whitepapers/Creating_large_documents_with_OOo.odt">http://www.openoffice.org/documentation/whitepapers/Creating_large_documents_with_OOo.odt</a></li>
			<li><a href="https://wiki.documentfoundation.org/images/b/b4/0116GS3-OpenSourceStandardsDoc.odt">https://wiki.documentfoundation.org/images/b/b4/0116GS3-OpenSourceStandardsDoc.odt</a></li>
			<li><a href="http://books.evc-cit.info/xforms_ooo_06_08_15.odt">http://books.evc-cit.info/xforms_ooo_06_08_15.odt</a></li>
			<li><a href="http://www.jutoh.com/jutohplus/JutohPlus.odt">http://www.jutoh.com/jutohplus/JutohPlus.odt</a></li>
			<li><a href="http://www.pitonyak.org/AndrewMacro.odt">http://www.pitonyak.org/AndrewMacro.odt</a></li>
		</ul>
		<uL>DOCX
			<li><a href="http://calibre-ebook.com/downloads/demos/demo.docx">http://calibre-ebook.com/downloads/demos/demo.docx</a></li>
			<li><a href="http://www.ojk.ee/sites/default/files/respondus-docx-sample-file_0.docx">http://www.ojk.ee/sites/default/files/respondus-docx-sample-file_0.docx</a></li>
			<li><a href="http://www.easychair.org/publications/easychair.docx">http://www.easychair.org/publications/easychair.docx</a></li>
			<li><a href="http://www.docx4java.org/docx4j/Docx4j_GettingStarted.docx">http://www.docx4java.org/docx4j/Docx4j_GettingStarted.docx</a></li>
			
		</uL>
		<ul>DOC
			<li><a href="https://www.swiftview.com/tech/letterlegal5.doc">https://www.swiftview.com/tech/letterlegal5.doc</a></li>
			<li><a href="http://www.ezconf.net/docs/SOLI%202008/sample.doc">http://www.ezconf.net/docs/SOLI%202008/sample.doc</a></li>
			<li><a href="http://www.acm.org/sigs/publications/pubform.doc">http://www.acm.org/sigs/publications/pubform.doc</a></li>
			<li><a href="http://www.search.org/files/doc/Sample%20Project%20Plan.doc">http://www.search.org/files/doc/Sample%20Project%20Plan.doc</a></li>
			<li><a href="http://www.usbr.gov/recreation/publications/02_SampleBusinessPlan.doc">http://www.usbr.gov/recreation/publications/02_SampleBusinessPlan.doc</a></li>
		</ul>
	</body>
</html>
