<!DOCTYPE html>
<html>
<head>
	<!--<title>Screen Reader - Πατήστε το δεξί βελάκι για να ακούσετε τις οδηγίες χρήσης.</title>-->
	<title>Screen Reader - Πατήστε δεξί βελάκι για οδηγίες χρήσης.</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div id="static-main-wrapper" style="margin-top:30px">

	<p>Το Screen Reader είναι μία ελληνοποιημένη εφαρμογή ανάγνωσης online περιεχομένου. Δουλεύει μέσω του browser του υπολογιστή σας, το οποίο σημαίνει ότι μπορείτε να τη χρησιμοποιείτε από οποιονδήποτε υπολογιστή με σύνδεση στο Διαδίκτυο. Πατήστε δεξί βελάκι για να συνεχίσετε.</p>
	<h2>Συντομεύσεις πληκτρολογίου</h2>
	<ul>
		<li><strong>Πλήκτρο Insert</strong> - Επιστροφή στην αρχική σελίδα για πληκτρολόγηση της διεύθυνσης στην οποία θέλετε να περιηγηθείτε. Αν είστε ήδη στην Αρχική Σελίδα, τότε το Πλήκτρο Insert οδηγεί σε αυτή τη σελίδα Οδηγιών.</li>
		
		<li><strong>Πλήκτρο Δεξί βελάκι</strong> - Σειριακή ανάγνωση όλων των στοιχείων της σελίδας.</li>
		<li><strong>Πλήκτρο Αριστερό βελάκι</strong> - Αντίστροφη σειριακή ανάγνωση όλων των στοιχείων της σελίδας.</li>
		
		<li><strong>Πλήκτρο h</strong> - Σειριακή ανάγνωση των επικεφαλίδων της σελίδας.</li>
		<li><strong>Πλήκτρο shift+h</strong> - Αντίστροφη σειριακή ανάγνωση των επικεφαλίδων της σελίδας.</li>
		
		<li><strong>Πλήκτρο k</strong> - Σειριακή ανάγνωση των συνδέσμων της σελίδας.</li>
		<li><strong>Πλήκτρο shift+k</strong> - Αντίστροφη σειριακή ανάγνωση των συνδέσμων της σελίδας.</li>
		
		<li><strong>Πλήκτρο g</strong> - Σειριακή ανάγνωση των εικόνων της σελίδας.</li>
		<li><strong>Πλήκτρο shift+g</strong> - Αντίστροφη σειριακή ανάγνωση των εικόνων της σελίδας.</li>
		
		<li><strong>Πλήκτρο ΤΑΒ</strong> - Σειριακή ανάγνωση των στοιχείων της σελίδας που υποστηρίζουν εστίαση, όπως σύνδεσμοι, κουμπιά, στοιχεία φόρμας κλπ.</li>
		<li><strong>Πλήκτρο shift+ΤΑΒ</strong> - Αντίστροφη σειριακή ανάγνωση των στοιχείων της σελίδας που υποστηρίζουν εστίαση, όπως σύνδεσμοι, κουμπιά, στοιχεία φόρμας κλπ.</li>

		<li><strong>Χρήση Enter</strong> - Πατήστε Enter όταν έχετε εστιάσει σε σύνδεσμο, για να μεταβείτε στο νέο σύνδεσμο.</li>
		<li><strong>Πλήκτρο Home</strong> - Μηδενισμός συντομεύσεων και ανάγνωση σελίδας από την αρχή.</li>
		
		<li><strong>Πλήκτρο Alt+Αριστερό βελάκι</strong> - Μετάβαση στην προηγούμενη σελίδα με βάση το ιστορικό του browser.</li>
		<li><strong>Πλήκτρο Alt+Δεξί βελάκι</strong> - Μετάβαση στην επόμενη σελίδα με βάση το ιστορικό του browser.</li>

		<li><strong>Πλήκτρο Page Down</strong> - Μετάβαση στην επόμενη σελίδα, όταν έχετε ανοίξει αρχείο PDF, ePUB ή DOCX.</li>
		<li><strong>Πλήκτρο Page Up</strong> - Μετάβαση στην προηγούμενη σελίδα, όταν έχετε ανοίξει αρχείο PDF, ePUB ή DOCX.</li>
		
		<li><strong>Πλήκτρο Escape</strong> - Ακύρωση αιτήματος ανάγνωσης ή παύση ανάγνωσης.</li>
		
	</ul>
</div>

</body>
</html>